# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\KULIAH UNS\SEMESTER 2\Programa Komputer\PRAKTIKUM\Program\Berlian-Safri-P_I0320017_Wildan_Tugas3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
